body {
    margin: 0;
    }

.main-header {
    display: flex;
    justify-content: space-evenly;
    width: 1000px;
    padding: 20px;
    margin: 0 auto;
    background-color: darkkhaki;
    }

.h1 {
    width: 300px;
    margin-right: auto;
    }
header img {
    border-radius: 50%;
    }

 .about-me {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: stretch;
    background-color:floralwhite;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    }

 .main-footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0 auto;
    background-color: darkkhaki;
    }